.global {
width: 600px;
height: 450px;
margin: 0 auto;
position: relative;
}

.step {
-moz-border-radius-topright: 8px;
-moz-border-radius-topleft: 8px;
border-left: 2px solid #d3d3ce;
border-right: 2px solid #d3d3ce;
border-top: 2px solid #d3d3ce;
margin:0;
}

.step td {
background-color: #d3d3ce;
width: 50px;
height: 50px;
font-size: 20px;
}

.wizard {
width: 600px;
height: 400px;
background-color: #e6e6e6;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border: 2px solid #d3d3ce;
text-align: left;
}

.wizard_titre {
text-align: center;
font-size: 18px;
margin-top: 30px;
margin-bottom: 50px;
}

.wizard_cadre {
border: 2px inset black;
width: 50%;
height: 200px;
text-align: center;
margin: 0 auto;
}

.next {
position: absolute;
top: 420px;
left: 530px;
z-index:10; 
}

.preview {
position: absolute;
top: 420px;
left: 15px;
z-index:10; 
}

.rouge {
color: red;
}

.suppr {
font-size: 14px;
margin-top: 70px;
}

.question {
line-height: 20px;
}

.presentation {
margin-left: auto;
margin-right: auto;
width: 400px;
margin-top: 100px;
font-size: 16px;
line-height: 20px;
}

.step1_table {
margin-top: 0px;
margin-bottom: 20px;
border-spacing: 10px;
font-size: 14px;
text-align: left;
}

.step1_create {
height: 40px;
}

.step2_table {
font-size: 14px;
text-align: left;
margin-top: 5px;
}

.step2_table td {
height: 30px;
}

.step4_table {
font-size: 14px;
margin-top: 40px;
border-spacing: 10px;
}

.step5_table {
text-align:left;
margin-top: 60px;
margin-bottom: 20px;
font-size: 12px;
}

.step15_table {
font-size: 14px;
margin-top: 60px;
border-spacing: 10px;
}

.step15_1_table {
font-size: 14px;
margin-top: 10px;
border-spacing: 10px;
}

.step15_save {
font-size: 14px;
margin-top: 70px;
margin-left: auto;
margin-right: auto;
width: 180px;
line-height: 20px;
}