.global {
width: 600px;
height: 450px;
margin: 0 auto;
position: relative;
}

.step {
width: 150px;
height: 50px;
-moz-border-radius-topright: 8px;
-moz-border-radius-topleft: 8px;
border-left: 2px solid #d3d3ce;
border-right: 2px solid #d3d3ce;
border-top: 2px solid #d3d3ce;
margin:0;
}

.step td {
background-color: #d3d3ce;
font-size: 20px;
}

.wizard {
width: 600px;
height: 400px;
background-color: #e6e6e6;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border: 2px solid #d3d3ce;
text-align: left;
}

.wizard_titre {
text-align: center;
font-size: 18px;
margin-top: 30px;
margin-bottom: 65px;
}

.wizard_cadre {
border: 2px inset black;
width: 50%;
height: 140px;
text-align: center;
margin: 0 auto;
}

.nextprev {
position: absolute;
top: 420px;
left: 530px;
z-index:10; 
}

.nextprev2 {
position: absolute;
top: 420px;
left: 15px;
z-index:10; 
}

.step1_table {
margin-top: 20px;
margin-bottom: 20px;
border-spacing: 10px;
font-size: 14px;
}

.step2_table {
text-align:left;
margin-top: 50px;
margin-bottom: 20px;
font-size: 12px;
}

.rouge {
color: red;
}