parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    paths:
        - ajax
        - front
        - inc
        - hook.php
        - setup.php
    scanDirectories:
        - ../../inc
        - ../../src
    bootstrapFiles:
        - ../../stubs/glpi_constants.php
        - ../../vendor/autoload.php
rules:
    - GlpiProject\Tools\PHPStan\Rules\GlobalVarTypeRule
